.body {
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    background-color: beige;
    color: white;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 5px 5px gray;
    border-radius: 50px;
}

.navigation {
    opacity: 0;
}

.navigation:hover {
    opacity: 50%;
}

.imgMenu {
    width: 40px;
    height: 40px;
}

.containerImg {
    justify-content: center;
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
}

section {
    margin-top: 70px;
}

header {
    margin-top: 100px;
}

.lista {
    display: none;
}

.lista ul {
    list-style: none;
}

.lista ul li {
    display: inline-block;
    padding: 30px;
}

.lista ul li a {
    text-decoration: none;
    font-size: 16pt;
    font-family: monospace;
    color: gray;
}

.lista ul li:hover {
    scale: 1.07;
    transition: 0.5S;
}

.lista ul li a:hover {
    color: black;
}

.span {
    justify-content: center;
    display: flex;
}


.container h1{
    padding-top: 5%;
    text-align: center;
    display: inline-block;
    font-family: monospace;
    font-size: 24pt;
    color: gray;
}

.container h1:hover {
    color: red;
    transition: 0.5s;
    scale: 1.07;
    cursor: pointer;
    z-index: 1;
}


.container2 {
    justify-content: center;
    display: flex;
}

.container2 p {
    font-size: 15pt;
    font-family: monospace;
    color: gray;
    text-align: center;
}

section {
    justify-content: center;
    display: flex;
    scale: fixed;
}

.block {
    box-shadow: 5px 5px black;
    border-radius: 20px;
    padding: 2%;
    display: table-row; 
    background-color: beige;
    text-align: center;
}

.block img {
    width: 300px;
    height: 210px;
    border-radius: 40px;
}

.block img:hover {
    scale: 1.07;
    transition: 0.5s;
    border-radius: 15px;
    z-index: 1;
}

.items {
    display: inline-block;
}

.nome {
    font-size: 17pt;
    font-family: monospace;
    color: gray;
}


.texto {
    display: flex;
    padding-top: 5%;
    padding-bottom: 15%;
}


.texto {
    display: flex;
    justify-content: center;
}

.texto2 {
    display: inline-block;
}

.texto2 p {

    display: inline-block;
}

.texto2 input {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family: monospace;
    font-size: 20pt;
    text-align: center;
    font-family: monospace;
}

.kg {
    display: inline-block;
}
