body{
    background-color: black;
    color: rgb(180, 208, 224);
    font: 18pt normal;
    padding: 0;
}


.titulo{
    display: flex;
    justify-content: center;
}

header p{
    display: flex;
    justify-content: center;
    align-items: center;
}

header p strong{
    margin: 5px;
}

header .clique{
    display: flex;
    justify-content: center;
}