body{
    background-color: rgb(0, 0, 0);
    padding: 0%;
    height: 2000px;
}

.h1{
    padding-top: 10%;
}
.h1 h1{
    color: gray;
}

.h1 h1:hover{
    color: aliceblue;
    transition: 1s;
}

div{
    display: flex;
    justify-content: center;
}

div ul{
    position: fixed;
}

div ul li{
    padding: 40px;
    display: inline-block;
}

div ul li:hover{
    scale: 1.1;
    transition: 1s;
}

div ul li a{
    color: gray;
    text-decoration: none;
    font-size: 16pt;
    font-family: monospace;
}

div ul li a:hover{
    color: aliceblue;
    transition: 1s;
}

.button {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.button input{
    font-family: monospace;
    font-size: 20pt;
    color: aliceblue;
    background-color: black;
    border-style: groove;
    border-radius: 20px;
    width: 300px;
    height: 80px;
}

.button input:hover{
    font-size: 22pt;
    scale: 1.1;
    background-color: aliceblue;
    color: black;
}

.dia{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.dia a{
    color: gray;
    text-decoration: none;
    font-size: 30pt;
    font-family: monospace;
}

.dia a:hover{
    scale: 1.1;
    color: aliceblue;
    transition: 1s;
}