body{
    background-color: rgb(31, 31, 31);
    padding: 0%;
    margin: 0;
    overflow-x: hidden;
}

.h1{
    display: flex;
    justify-content: center;
}

.h1 h1{
    color: azure;
    cursor:crosshair;
}

.h1:hover{
    transform: scale(1.02);
    opacity: 0.7;
}

.menu1{
    display: flex;
    justify-content: center;
}

.menu1 img{
    border-radius: 20px;
    opacity: 0.5;
}

.menu1 img:hover{
    transform: scale(1.1);
    opacity: 1.0;
}

.menu2{
    display: flex;
    justify-content: center;
}

.menu2 img{
    border-radius: 20px;
    opacity: 0.5;
}

.menu2 img:hover{
    transform: scale(1.1);
    opacity: 1.0;
}


.video{
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.video:hover{
    transform: scale(1.1);
    opacity: 1.0;
}

.video iframe{
    border-radius: 20px;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button button{
    text-decoration: none;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: large;
    font-family: fantasy;
    text-decoration: none;
}


.button:hover{
    transform: scale(1.1);
    opacity: 0.5;
}

.bt{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.bt a{
    text-decoration: none;
    border-radius: 100%;
    font-size: 50px;
    font-family: fantasy;
    color: red;
    opacity: 0.5;
}

.bt a:hover{
    transform: scale(1.1);
    opacity: 1.0;
}

