.nav{
    display: flex;
    justify-content: center;
    padding: 9px 0;
}

.nav ul li{
    display: inline-block;
    color: azure;
    list-style: none;
    margin: 30px;
    text-align: center;
    scale: 1.1;
}

.nav ul li:hover{
    transition: 1s;
    scale: 1.7;
}

.nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

