body{
    background-color: black;
    font-family: monospace;
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1100px;

}

.container1{
    padding-top: 7%;
    display: flex;
    justify-content: center;
    scale: 1.1;
}

.container1 h1:hover{
    scale: 1.8;
    transition: 3000ms;
    color: red;
}

.container2{
    padding-top: 1%;
    display: flex;
    justify-content: center;
    scale: 1.1;
}

.container2 p:hover{
    color: red;
    transition-duration: 5s;
    transition-timing-function: ease-out;
}

.container1 h1{
    color: azure;
}

.container2 p{
    color: rgb(206, 207, 207);
}
